*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
 overflow: hidden;
 font-family: 'Arial';
 font-weight: 100;
 color: rgba(255, 255, 255, 1);
 margin: 0;
 padding: 0;
 background: #FFFFFF;
}

username {
    font-weight: bold;
    color: #444;
}

#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 630px;
  margin: 0 auto;
  height: 570px;
  overflow: hidden;
}

.header {
  height: 60px;
  width: 630px;
  background: rgba(150, 150, 150, 1);
  text-align: center;
  position:relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(200, 199, 200, 1) transparent transparent;
  right: 50px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(200, 199, 200, 1);
  right: 20px;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: MonthFadeDownNext .4s ease-out;
  -moz-animation: MonthFadeDownNext .4s ease-out;
  animation: MonthFadeDownNext .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: MonthFadeUpNext .4s ease-in;
  -moz-animation: MonthFadeUpNext .4s ease-in;
  animation: MonthFadeUpNext .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: MonthFadeUpPrevious .4s ease-out;
  -moz-animation: MonthFadeUpPrevious .4s ease-out;
  animation: MonthFadeUpPrevious .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: MonthFadeDownPrevious .4s ease-in;
  -moz-animation: MonthFadeDownPrevious .4s ease-in;
  animation: MonthFadeDownPrevious .4s ease-in;
  opacity: 1;
}

.week {
 background: #4A4A4A;
}

.day {
  display: inline-block;
  width: 90px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #333333;
  position: relative;
  z-index: 100;
}

.day.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: rgba(255, 52, 20, 1);
}

.orange {
  background: rgba(247, 167, 0, 1);
}

.green {
  background: rgba(153, 198, 109, 1);
}

.entry.orange:after {
  background: rgba(247, 167, 0, 1);
}
.entry.green:after {
  background: rgba(153, 198, 109, 1);
}


.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 36px;
  letter-spacing: 2.5px;
}

.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  line-height: 5px;
  margin: 0 1px;
}

.details {
  position: relative;
  width: 630px;
  height: 75px;
  background: rgba(164, 164, 164, 1);
  margin-top: 5px;
  border-radius: 4px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}


.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn .2s ease both;
  -moz-animation: fadeIn .2s ease both;
  animation: fadeIn .2s ease both;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}

.details.out .events {
  -webkit-animation: FadeOut .4s ease both;
  -moz-animation: FadeOut .4s ease both;
  animation: FadeOut .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #333333;
}

.event-category {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}


.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

@-webkit-keyframes moveFromTopFade {
  from {
    opacity: .3;
    height:0px;
    margin-top:0px;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTopFade {
  from {
    height:0px;
    margin-top:0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    height:0px;
    margin-top:0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFade {
  to {
    opacity: .3;
    height:0px;
    margin-top:0px;
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTopFade {
  to {
    height:0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    height:0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes MonthFadeUpNext {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%) scale(.95);
  }
}
@-moz-keyframes MonthFadeUpNext {
  to {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
}
@keyframes MonthFadeUpNext {
  to {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes MonthFadeDownNext {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%) scale(.95);
  }
}
@-moz-keyframes MonthFadeDownNext {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}
@keyframes MonthFadeDownNext {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}

@-webkit-keyframes MonthFadeDownPrevious {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%) scale(.95);
  }
}
@-moz-keyframes MonthFadeDownPrevious {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@keyframes MonthFadeDownPrevious {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}

@-webkit-keyframes MonthFadeUpPrevious {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) scale(.95);
  }
}

@-moz-keyframes MonthFadeUpPrevious {
  from {
    opacity:0;
    -webkit-transform: translateY(-100%);
  }
}
@keyframes MonthFadeUpPrevious {
  from {
    opacity:0;
    -webkit-transform: translateY(-100%);
  }
}

@-webkit-keyframes fadeIn  {
  from {
    opacity:0;
  }
}
@-moz-keyframes fadeIn  {
  from {
    opacity:0;
  }
}
@keyframes fadeIn  {
  from {
    opacity:0;
  }
}

@-webkit-keyframes FadeOut  {
  to {
    opacity:0;
    adding:0px;
    height:0px;
  }
}
@-moz-keyframes FadeOut  {
  to {
    opacity:0;
    padding:0px;
    height:0px;
  }
}
@keyframes FadeOut  {
  to {
    opacity:0;
    padding:0px;
    height:0px;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity:0;
  }
}
@-moz-keyframes fadeOut {
  to {
    opacity:0;
  }
}
@keyframes fadeOut {
  to {
    opacity:0;
  }
}

